# Docker compose file for local testing
services:
  # The Mariadb database
  # login with root:root
  mariadb:
    image: mariadb:latest
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: root
